* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body::-webkit-scrollbar {
  width: 10px;
  scrollbar-width: thin;
  scrollbar-color: rgb(204, 204, 204) transparent;
}
body::-webkit-scrollbar-track {
  background: #f1f2f4;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
  background: #c3c3ce;
  border-radius: 10px;
}

:root {
  --font-family: SansOri, SansOriFallback, sans-serif;
}

body {
  margin: 0px;
  font-family: var(--font-family);
  min-height: 100%;
  overflow: auto;
  font-size: 1.4rem;
  color: rgb(51, 51, 51);
  line-height: 1.5;
  background-color: rgb(255, 255, 255);
  font-weight: normal;
}
